body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Muli', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #7bb7fa;
}

.button {
    padding: 1.5vh;
    width: auto;
    text-align: center;
    background: transparent;
    box-shadow: 1px 1px 4px 1px #4c6d91;
    border-radius: 5px;
    font-size: 1.25vw;
    cursor: pointer;
    user-select: none;
}