body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Muli', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fdc162;
}

.inputWrapper {
    height: 20vh;
    width: 70vw;
    background: #fff;
    padding: 0 6vw;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button {
    width: 90%;
    padding: 1.5vh;
    margin: 3vh 1.5vw 0 1.5vw;
    text-align: center;
    background: #1b3647;
    border-radius: 5px;
    font-size: 3vw;
    user-select: none;
}

#signupScreen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#signupScreen h1 {
    position: absolute;
    top: 5vh;
    text-align: center;
}

input {
    width: 90%;
    margin: 0 1vw 2vh 1vw;
    color: #1b3647;
    background: transparent;
    border: none;
    border-bottom: 2px solid lightgray;
    font-size: 4vw;
    text-align: center;
    outline: none;
    transition: border-color 250ms ease-in-out;
}

input:focus {
    border-color: #1b3647;
}

.errorInput {
    border-color: red;
}

.errorInput:focus {
    border-color: red;
}

#playersToChallengeWrapper {
    width: 70vw;
    text-align: center;
}

#playersToChallengeWrapper p {
    margin: 5vh 0 0 0;
    font-size: 5vw;
}

#playersToChallenge {
    width: 100%;
    margin: 5vh 0 0 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: opacity 200ms ease-in-out;
}

#playersToChallenge .player {
    background: #353535;
    padding: 4vw 4.5vw;
    border-radius: 3px;
    text-align: center;
    user-select: none;
}

.playerHover {
    transition: box-shadow 200ms ease-in-out;
}

.playerHover:hover {
    box-shadow: 0 0 0 0.25rem #36363680;
}

#playersToChallenge p {
    margin: 0;
    font-size: 5vw;
    user-select: none;
}

#requestWindow, #quitWindow {
    position: absolute;
    width: 90vw;
    height: 50vh;
    top: 25vh;
    left: 5vw;
    background: #fff;
    color: black;
    border-radius: 7px;
    font-size: 4.5vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: scale(.6);
    transition: 250ms opacity ease-in-out, 250ms transform ease-in-out;
}

#requestText {
    font-size: 5vw;
    margin-top: .25vh;
}

#buttonWrapper {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 1.5vh;
    right: 0;
}

.requestButton {
    width: 80%;
    color: white;
    padding: 1.5vh 1.5vw;
    border-radius: 5px;
    margin: 1.75vh 0;
    font-size: 4.5vw;
    text-align: center;
    user-select: none;
}

#acceptRequest, #cancelQuitGame {
    background: #1abc89;
}

#declineRequest, #quitGame {
    background: #c02942;
}

#quitHeadliner {
    text-align: center;
}

#quitWindow p {
    text-align: center;
}

#quitWindow {
    height: 70vh;
    top: 15vh;
}

#playAgainBtn, #quitGameRequest {
    font-size: 4.5vw;
}

#signOutBtn {
    width: 70%;
}